
*{
    margin:0;
    padding:0;
    font-family: Verdana, sans-serif;
    /* box-sizing: border-box; */
}


#h21,#h22,#h23,#h24,#h25{
    font-size: 40px;
}

.h3{
    font-size: 28px;
    padding-top: 20px;
}

a{
    text-decoration:none;
    color: white;
}

a:hover{
    color:blue;
    /* font-size:20px; */
}

a:active{
    font-size:25px;
}

body{
    /* width: 1500px; */
    width:100%;
}

#container1{
    background: linear-gradient(90deg, rgba(10,0,176,1) 0%, rgba(214,25,136,1) 34%, rgba(173,83,83,1) 55%, rgba(0,212,255,1) 94%);
}


#container11 {
    max-width: 100%;
    background: rgba(74, 74, 74, 0.272);
    backdrop-filter: blur(5px);
    max-height: 22vh;

    /* border: 5px solid black; */

}

#profile{
    margin-top: -20px;
}

#logo{
    margin-top: -55px;
}


#container11 nav {

    /* border: 5px solid white; */

    display: flex;
    padding: 60px 0px;
    word-spacing: 40px;
    font-size: 18px;
    width: 80%; /* Set fixed width to 80% of the screen */
    max-width: 1600px; /* Add max-width to limit the width */
    justify-content: space-between;
}


#calcdiv{
    display: flex;
    width: 80%;
    max-width: 1600px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#calc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    /* border:5px solid black; */
    padding:30px 0px;
}

#txt1{
    max-height: 400px;
    max-width: 1000px;
    min-height: 400px;
    min-width: 1000px;
    margin-top: 20px;
}

#calcbutton{
    padding:10px;
    border-radius: 10px;
    background:rgb(0, 100, 249);
    color: white;
    border: none;
    width:100px;
    height:50px;
    margin-top: 20px;
}

#calcbutton:hover{
    background: rgb(0, 0, 215);;
}

#calcbutton:active{
    background: rgb(0, 0, 215);;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.59);
}

#evalue{
    /* border:5px solid black; */
    padding:30px 0px;
}

#pval{
    /* border:5px solid blue; */

    padding: 30px 0px;
    min-height: 150px;
    width: 80%;
    max-width: 1600px;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.523);
    border-radius: 10px;
    background: rgba(8, 199, 8, 0.427);
    line-height: 40px;
    /* display: flex;
    flex-direction: column; */
}