


*{
    margin:0;
    padding:0;
    font-family: Verdana, sans-serif;
    /* box-sizing: border-box; */
}


/* #profile{
    margin-top: -20px;
}

#logo{
    margin-top: -100px;
} */

#h21,#h22,#h23,#h24,#h25{
    font-size: 40px;
}

.h3{
    font-size: 28px;
    padding-top: 20px;
}

a{
    text-decoration:none;
    color:rgb(0, 0, 0);
}

a:hover{
    color:blue;
    /* font-size:20px; */
}

a:active{
    font-size:25px;
}

body{
    /* width: 1500px; */
    width:100%;
}


#container12{

    /* border: 10px solid black; */

    max-width: 100%;
    display:flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content:center;
}

#container121{

    /* border: 10px solid black; */

    width: 80%;
    display:flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content:center;
    max-width: 1600px; 
}

#container122{
    margin-top: -100px;
}

#phone{
    margin-top: 50px;
    margin-right: 50px;
    /* position: relative; */
}

#p1{
    font-size: 60px;
}

#p3{
    padding-top: 30px;
    font-size: 20px;
}

#container11 {
    max-width: 100%;
    background: rgba(74, 74, 74, 0.272);
    backdrop-filter: blur(5px);
    max-height: 20vh;

    /* border: 5px solid black; */

}

#container11 nav {

    /* border: 5px solid white; */

    display: flex;
    padding: 60px 0px;
    word-spacing: 40px;
    font-size: 18px;
    width: 80%; /* Set fixed width to 80% of the screen */
    max-width: 1600px; /* Add max-width to limit the width */
    /* height:100%; */
    max-height: 100px;
    max-height: 10%;
    max-height: 100vh;
}


#container2{
    /* background-size: cover; */
    /* width: 80%; */
    /* max-width:1600px; */
    margin: 0 auto;
    margin-top: 10px;

    /* border: 10px solid black; */

    /* background-size:cover; */
}

#container21{
    padding:80px 0px;

    /* border:10px solid black; */

    width:80%;
    max-width:1600px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* min-height: fit-content; */
}

#design1{
    /* border: 5px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
}

#design1 p{
    margin:0px 2px;
}

#p4,#p8{
    height:2px;
    width:60px;
    background-color: blue;
}

#p5,#p6,#p7{
    width:5px;
    height:5px;
    background-color: rgb(117, 117, 230);
    border-radius: 50px;
}

#container22{
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background: url();
}



p{
    font-size: 18px;
}



#container31{
    padding:80px 0px;
    width:80%;
    max-width:1600px;
    color: white;

    /* border:5px solid lime; */

}

#design2{
    /* border: 5px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
}

#design2 p{
    margin:0px 2px;
}

#p10,#p14{
    height:2px;
    width:60px;
    background-color: white;
}

#p11,#p12,#p13{
    width:5px;
    height:5px;
    background-color: white;
    border-radius: 50px;
}


#container32{
    padding:20px 0px;
    width:80%;
    max-width:1600px;

    /* border:5px solid lime; */

    display: flex;
    justify-content: center;
    align-items: center;
}

#container33{
    color: white;
    padding:80px 0px;
    width:80%;
    max-width:1600px;

    /* border:5px solid lime; */

    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-self: center; */
    justify-content:space-evenly;
}

#container33 p {
    margin-top: 20px;
}

#p17,#p20,#p23{
    background-color: white;
    height:2px;
    width:50px;
}


#b1,#b2,#b3{
    color: white;
    width:50px;
    height: 50px;
    border-radius: 50px;

    border: 1px solid white;

    background-color: transparent;
}


.navd1,
.navd2,
.navd3 {
    flex: 1;
    text-align: center; /* Center text within each div */
}

.navd2 {
    flex:2;
    justify-content: center;
    white-space: nowrap;
}


.navd3 {
    justify-content: flex-end;
}

#container4{
    margin-top: 20px;
    margin: 0 auto;

    /* border: 10px solid black; */

}

#container41{
    padding:80px 0px;
    width:80%;
    max-width:1600px;

    /* border:5px solid black; */

}


#p26,#p27,#p28{
    width:5px;
    height:5px;
    background-color: blue;
    border-radius: 50px;
}


#p25,#p29{
    background-color: blue;
    height:2px;
    width:50px;
}

#design3{
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
}

#design3 p{
    margin:0px 2px;
}

#container42{
    position: relative;
    padding:80px 0px;
    width:100%;
    max-width:1600px;
    min-height: 700px;
    
    /* border:5px solid black; */

    display: flex;
    justify-content: center;
}

#phone2{
    width: 700px;
}

#container4 #container421{
    position: absolute;
    top:50px;
    left:120px;
}


#container4 #container422{
    position: absolute;
    top:550px;
    left:120px;
}

#container4 #container423{
    position: absolute;
    top:120px;
    left:1050px;
}

#container4 #container424{
    position: absolute;
    top:600px;
    left:950px;
}

#ico1,#ico2,#ico3,#ico4{
    border-radius: 50px;

    border: 2px solid rgb(99, 99, 249);

    padding:15px;
}

#container42 p{
    padding-top: 20px;
}


#container4{
    margin-top: 20px;
    margin: 0 auto;

    /* border: 10px solid black; */

}

#container5{

    /* border:10px solid black; */

    margin-top: 50px;
}

#container51{
    padding:80px 0px;
    width:100%;
    color: white;
    /* max-width:1600px; */
    background: linear-gradient(90deg, rgba(255,0,150,1) 1%, rgba(0,212,255,1) 78%, rgba(87,255,220,1) 100%);

    /* border:5px solid black; */

}


#p32,#p33,#p34{
    width:5px;
    height:5px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
}


#p31,#p35{
    background-color: rgb(255, 255, 255);
    height:2px;
    width:50px;
}

#design4{
    /* border: 5px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
}

#design4 p{
    margin:0px 2px;
}

#container52{
    position: relative;
    padding:80px 0px;
    /* width:80%; */
    max-width:1600px;
    /* min-height: 700px; */

    /* border:5px solid black; */

    justify-items: center;
    display: flex;
    overflow: hidden;
}

.myslides{
    
    display: flex;
    /* padding: 40px; */
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    width:500px;
    height: 200px;
    padding:0px;
    background:linear-gradient(30deg,rgba(5, 46, 252, 0.348),rgba(219, 20, 254, 0.162));
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.523);
    margin-right: 30px;
    /* display: none; */
    /* position: relative; */
}

.container521{
    animation: 20s slide infinite linear;
    /* box-sizing: border-box; */
    display:flex;
}

.slidestext{
    margin-left: 40px;
    font-size: 25px;
}

.slidesnumber {
    display:none;
  }

  .myslides img{
    height: 140px;
    margin-left: 40px;
  }

  .myslides .slidestext{
    margin-right: 40px;
  }

  @keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
  }

#front{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width:200px;
    background:linear-gradient(to right,rgb(255, 255, 255),rgba(255, 255, 255, 0));
    z-index: 100;
}

#back{
    position: absolute;
    top:0;
    right:0;
    height: 100%;
    width:200px;
    background:linear-gradient(to left,rgb(255, 255, 255),rgba(255, 255, 255, 0));
    z-index: 100;
}

#container6{
    /* margin: 0 auto; */

    /* border:10px solid black; */

    margin-top: 50px;
    background: linear-gradient(60deg, rgba(10,0,176,1) 11%, rgba(214,25,136,1) 34%, rgba(0,212,255,1) 97%);
    color: white;
    padding-bottom: 40px;
}

.t1{
    margin-top: 50px;
}

.t8{
    margin-top: 10px;
}

#container61{

    /* border: 5px solid black; */

    padding:50px 0px;
    width:80%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    /* min-height: 600px; */
}

#p38,#p39,#p40{
    width:5px;
    height:5px;
    background-color: white;
    border-radius: 50px;
}



#p37,#p41{
    background-color: white;
    height:2px;
    width:50px;
}

#h25{
    color: white;
    align-self: flex-start;
}

#design5{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* margin-top: 50px; */
}

#design5 p{
    margin:0px 2px;
}

#container62{

    /* border: 5px solid black; */

    width:80%;
    max-width: 1600px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    color: white;
}

#container621,#container622,#container623,#container624,#container625{

    /* border: 2px solid black; */

    width:600px;
    margin-top: 20px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background: rgba(255, 255, 255, 0.125);
}

.q{
    margin-left:10px;
    align-self: flex-start;
}

.toggleButton{
    position: absolute;
    margin-left: auto;
    padding: 6px;
    background: transparent;
    color: white;

    border: 1px solid white;

    font-weight: bold;
    width:28px;
    top:17px;
    right:20px;
    /* transition:2s ease; */
}


.hide{
    text-align: left;
    /* align-self: flex-start; */
    display: none;
    margin-left: 50px;
    margin-top: 30px;
    justify-content: flex-end;
    overflow: hidden; /* Hide overflow content */
    transition:2s;
}

.toggleButton.minus {
    background-color: white;
    color: black;
}






